.filters button {
	background:none;
	border:none;
	color:#337ab7;
}



.form-container {
	margin-top: 20px;
	display:flex;
	flex-direction: column;
}

.form-table td {
	padding: 5px;
}

.form-table {
	padding: 5px;
}

.form-table .chosen {
	width:250px;
}


.form-table input[type=text], input[type=password] {
	width:250px;
}



.cardbox {
	padding: 10px;
	width:fit-content;
	margin: 15px 0 15px 0;
}

.green {
	border: 1px solid darkgreen;
	background-color: lightgreen;
}

.red {
	border: 1px solid darkred;
	background-color: lightcoral;
}


.rounded {
	border-radius: 10px;
}


.badge{
	padding-top: 6px !important;
	cursor:default;
}